<style>
    section {
        display: flex;
        flex-direction: row;
    }
    ::slotted(*) {
        width: 100%;
        height: 100%;
    }
</style>

<section id="row">
    <slot></slot>
</section>

<script name="main" type="module">
    (function() {
        return function main(root, props) {
            const element = root.querySelector("#row");
            Object.keys(props).forEach((attr) => {
                element.style[attr] = props[attr];
            }) 
        } 
    })()
</script>