<head>
    <link rel="hcj-import" href="/src/base/layout/s-column.html">
    <link rel="hcj-import" href="/src/components/hello-world.html">
</head>

<style>

</style>

<header>
    <s-column>
        <hello-world></hello-world>
        <span id="menu1">menu 1</span>
        <span id="store-value">menu 2</span>
        <span>menu 3</span>
    </s-column>
</header>

<script type="module">

    (function() {
        return async function main(root, props, store) {
            console.log("header loaded");
            root.querySelector("#menu1").addEventListener("click", () => {
                store.data = {...store.data, count: store.data.count - 1};
                console.log("decrement : ", store.data);
            })
            store.addSubscribe((store) => {
                root.querySelector("#store-value").innerText = store.data.count;
            })
        } 
    })()
</script>