<head>
    <link rel="hcj-import" href="/src/base/layout/s-column.html">
</head>

<style>
    aside {
        width: 100%;
        padding: 5%;
    }
</style>

<aside>
    <s-column id="link-container">
    </s-column>
</aside>

<script name="main" type="module">

    const _util = import("/js/_util.js");
    const LoadComponents = import ("/js/load_components.js");

    const getPostTree = async(dataPath) => {
        const data = await (await _util).getFileContentInJSON(dataPath);
        return data["post-tree"];
    }

    const makeList = (name, parentEl) => {
        const ulList = document.createElement("ul");
        const title = document.createElement("h4");
        title.innerText = name;
        ulList.appendChild(title);
        parentEl.appendChild(ulList);
        return ulList;
    }

    const appendLi = async(containerEl, filePath) => {
        const li = document.createElement("li");
        const payload = {
            props: {
                to: "p-post.html",
                post: filePath,
                _innerHTML: (await _util).getFileName(filePath, "md")
            }
        }
        const goTo = await (await LoadComponents).loadComponent("/src/base/route/r-go-to.html", payload);
        li.appendChild(goTo);
        containerEl.appendChild(li);
    }

    const appendLinksToList = (containerEl, postTree) => {
        if (Array.isArray(postTree)) {
            postTree.forEach((filePath) => appendLi(containerEl, filePath));
            return;
        }
        Object.keys(postTree).forEach((dir) => {
            const parentEl = dir === "_current" ? containerEl : makeList(dir, containerEl);
            appendLinksToList(parentEl, postTree[dir]);
        })
    }

    const appendLinksToContainer = async(containerEl, dataPath) => {
        const postTree = await getPostTree(dataPath);
        appendLinksToList(containerEl, postTree);
    }

    (function() {
        return function main(root, props, store, passDown, cache) {
            const containerEl = root.querySelector("#link-container");
            if (cache["sidebar-nav"]) {
                containerEl.innerHTML = cache["sidebar-nav"].innerHTML;
                return;
            }
            appendLinksToContainer(containerEl, "/data.json");
            cache.setCache((prevCache) => {
                return { ...prevCache, "sidebar-nav": containerEl.innerHTML };
            })
        }
    })()
</script>